<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>kind</key>
		<string>Diamond</string>
		<key>url</key>
		<string>http://www.objectcomputing.com</string>
		<key>image_url</key>
		<string>http://2017.greachconf.com/wp-content/uploads/2016/10/OCI.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Platinum</string>
		<key>url</key>
		<string>https://www.salenda.es/</string>
		<key>image_url</key>
		<string>http://2017.greachconf.com/wp-content/uploads/2016/10/Salenda_10Years.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Platinum</string>
		<key>url</key>
		<string>https://infortelecom.es/en</string>
		<key>image_url</key>
		<string>http://2017.greachconf.com/wp-content/uploads/2016/10/Infortelecom.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Gold</string>
		<key>url</key>
		<string>http://osoco.es/</string>
		<key>image_url</key>
		<string>http://2017.greachconf.com/wp-content/uploads/2014/01/osoco.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Gold</string>
		<key>url</key>
		<string>https://www.autentia.com/</string>
		<key>image_url</key>
		<string>http://2017.greachconf.com/wp-content/uploads/2014/01/autentia.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Bronze</string>
		<key>url</key>
		<string>http://www.virtualsw.com/</string>
		<key>image_url</key>
		<string>http://2017.greachconf.com/wp-content/uploads/2014/01/virtual.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Bronze</string>
		<key>url</key>
		<string>http://www.grupoaluman.com/</string>
		<key>image_url</key>
		<string>http://2017.greachconf.com/wp-content/uploads/2014/01/aluman.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Bronze</string>
		<key>url</key>
		<string>https://www.energizedwork.com/</string>
		<key>image_url</key>
		<string>http://2017.greachconf.com/wp-content/uploads/2017/01/energized-word.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Bronze</string>
		<key>url</key>
		<string>http://kaleidos.net/</string>
		<key>image_url</key>
		<string>http://2017.greachconf.com/wp-content/uploads/2014/01/kaleidos.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Bronze</string>
		<key>url</key>
		<string>http://www.diputaciodetarragona.cat</string>
		<key>image_url</key>
		<string>http://2017.greachconf.com/wp-content/uploads/2014/01/diputacio-tarragona.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Bronze</string>
		<key>url</key>
		<string>http://www.pronoide.com/</string>
		<key>image_url</key>
		<string>http://2017.greachconf.com/wp-content/uploads/2014/01/pronoide-logo.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Bronze</string>
		<key>url</key>
		<string>https://www.koliseo.com/</string>
		<key>image_url</key>
		<string>http://2017.greachconf.com/wp-content/uploads/2016/10/Koliseo.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Collaborators</string>
		<key>url</key>
		<string>https://zeroturnaround.com/</string>
		<key>image_url</key>
		<string>http://2017.greachconf.com/wp-content/uploads/2017/03/zeroturnaround.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Collaborators</string>
		<key>url</key>
		<string>http://groovycalamari.com/</string>
		<key>image_url</key>
		<string>http://2017.greachconf.com/wp-content/uploads/2017/01/groovy-calamari.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Collaborators</string>
		<key>url</key>
		<string>https://www.jetbrains.com/</string>
		<key>image_url</key>
		<string>http://2017.greachconf.com/wp-content/uploads/2014/01/jetbrains.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>Collaborators</string>
		<key>url</key>
		<string>http://www.madridgug.com</string>
		<key>image_url</key>
		<string>http://2017.greachconf.com/wp-content/uploads/2014/01/madrid-gug.png</string>
	</dict>
</array>
</plist>